{% extends 'base.html.twig' %}

{% block title %}Translate Page{% endblock %}

{% block body %}
    <div class="ui container">
        <h1 class="ui center aligned header">Translator</h1>
        <div class="ui grid">
            <div class="two column row">
                <div class="column bordered-column">
                    <div class="field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="country" value="ax">
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0"
                                   data-com.bitwarden.browser.user-edited="yes">
                            <div class="text">Dili Algıla</div>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item active selected" data-value="" dir="">Dili Algıla</div>
                                {% block source_languages %}
                                    {%  for key, language in languages%}
                                        <div class="item" data-value="{{ key }}" dir="{{ language.dir }}">{{ language.name }}</div>
                                    {%  endfor %}
                                {%  endblock %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="country" value="ax">
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0"
                                   data-com.bitwarden.browser.user-edited="yes">
                            <div class="text">Seçiniz</div>
                            <div class="menu transition hidden" tabindex="-1">
                                {% block target_languages %}
                                    {%  for key, language in languages%}
                                        <div class="item" data-value="{{ key }}" dir="{{ language.dir }}">{{ language.name }}</div>
                                    {%  endfor %}
                                {%  endblock %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="ui form">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="ui form">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="ui basic button">
            <i class="icon history"></i>
            Geçmiş
        </button>
        <button class="ui basic button">
            <i class="icon bookmark outline"></i>
            Kaydedilenler
        </button>
    </div>
{% endblock %}
