{% extends 'base.html.twig' %}

{% block title %}Translate Page{% endblock %}

{% block body %}
    <div class="ui sidebar vertical menu right">
        <h2 class="ui dividing header sidebarTitle">Types<a class="anchor" id="types"></a></h2>
        <div class="sidebarContent">

        </div>
    </div>
    <div class="ui container">
        <h1 class="ui center aligned header">Translator</h1>
        <div class="ui grid">
            <div class="two column row">
                <div class="column bordered-column">
                    <div class="field">
                        <div class="ui fluid search selection dropdown" id="sourceLanguage">
                            <input type="hidden" name="source_language">
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0"
                                   data-com.bitwarden.browser.user-edited="yes" >
                            <div class="text sourceActiveText">Dili Algıla</div>
                            <div class="menu transition hidden sourceLanguageItems" tabindex="-1">
                                <div class="item active selected" data-value="" dir="">Dili Algıla</div>
                                {% block source_languages %}
                                    {%  for key, language in languages%}
                                        <div class="item" data-value="{{ key }}" dir="{{ language.dir }}">{{ language.name }}</div>
                                    {%  endfor %}
                                {%  endblock %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="field">
                        <div class="ui fluid search selection dropdown" id="targetLanguage">
                            <input type="hidden" name="target_language">
                            <i class="dropdown icon"></i>
                            <input class="search" autocomplete="off" tabindex="0"
                                   data-com.bitwarden.browser.user-edited="yes">
                            <div class="text targetActiveText">Seçiniz</div>
                            <div class="menu transition hidden targetLanguageItems" tabindex="-1">
                                <div class="item active selected" data-value="" dir="">Seçiniz</div>
                                {% block target_languages %}
                                    {%  for key, language in languages%}
                                        <div class="item" data-value="{{ key }}" dir="{{ language.dir }}">{{ language.name }}</div>
                                    {%  endfor %}
                                {%  endblock %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="ui form">
                        <div class="field">
                            <textarea id="sourceText"></textarea>
                        </div>
                    </div>
                </div>
                <div class="column bordered-column">
                    <div class="ui form">
                        <div class="field">
                            <textarea id="targetText"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="ui basic button" id="translateButton">
            <i class="icon question circle outline"></i>
            Çevir
        </button>
        <button class="ui basic button"  id="historyButton">
            <i class="icon history"></i>
            Geçmiş
        </button>
        <button class="ui basic button">
            <i class="icon bookmark outline"></i>
            Kaydedilenler
        </button>
    </div>
{% endblock %}
